@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@900&display=swap');

body {
  font-size: 15pt;
  box-sizing: border-box;
}

.brand-logo {
  font-family: Henny Penny;
  margin-left: 15px;
}

.menu li a {
  font-weight: bolder;
  font-family: Indie Flower;
  font-size: 1.5rem;
}

.titulo {
  font-family: 'Grenze Gotisch', cursive;
  font-size: 3rem;
  -webkit-text-stroke: 2px blue;
  color: white;
}


.facebook {
  -webkit-text-stroke: white 1px;
  font-weight: bold;
  font-family: Indie Anton;
}

.p-inicio {
  font-weight: bold;
  font-family: fantasy;
  text-align: justify;
}

.card-title {
  font-family: Anton;
  font-weight: bold;
  -webkit-text-stroke: 2px #1b5e20;
}
 
.imagen {
  width: 650px;
  max-height: 300px;
  object-fit: cover;
  margin-top: 3px;
  margin-bottom: 3px; 
}

.title_galeria {
  font-family: Anton;
  font-size: 3em;
  -webkit-text-stroke: 1px black;
}

.titulo_servicios {
    font-family: Anton;
    font-size: 3em;
    -webkit-text-stroke: 1px black;
}

.titulo-cursos {
      font-family: Anton;
      font-size: 3em;
      -webkit-text-stroke: 1px black;
}